.site-footer {
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: 1px solid var(--lightGrey);
}

@media (min-width: 768px) {
  .footer-nav .menu {
    display: flex;
    justify-content: center;
  }
}

.footer-nav .menu li {
  text-align: center;
}

.footer-nav .menu a {
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: var(--headingFont);
}

.separator {
  display: none;
}

@media (min-width: 768px) {
  .separator {
    display: inline;
    margin: 0 2rem;
  }

  .footer-nav li:last-of-type .separator {
    display: none;
  }
}

.site-footer .address {
  margin-top: 2rem;
}

.site-footer .address p {
  text-align: center;
  font-size: 1.2rem;
}
