.widget {
  margin-bottom: 5rem;
}

.widget div {
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem 0;
  font-size: 2rem;
}

.widget a {
  color: var(--black);
}

.widget a:hover {
  color: var(--orange);
}

.searchform {
  position: relative;
}

.searchform div {
  display: flex;
}

.searchform label {
  display: none;
}

.searchform input[type="text"] {
  flex: 1;
  padding: 1rem;
}

.searchform input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5rem;
  background-color: var(--red);
  background-image: url(../img/buscador.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  text-indent: -9999px;
  display: block;
}

.searchform input[type="submit"]:hover {
  cursor: pointer;
}